<tr id="item-<%= item.id %>">
    <td>
        <div class="media">
            <div class="d-flex">
            	<%= image_tag item.cat_picture, class:"img-fluid", style:"width: 152px; height: 102px;"%>  
            </div>
            <div class="media-body">
                <p><%= item.title %></p>
            </div>
        </div>
    </td>
    <td>
        <h5>$<%= item.price %></h5>
    </td>
    <td>
        <div class="product_count">
            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                class="input-text qty">
            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
        </div>
    </td>
    <td>
        <h5>$<%= item.price %></h5>
    </td>
    <td>
    	<%= link_to join_table_carts_item_path(current_user.cart.join_table_carts_items.find_by(item: item)), method: :delete, remote: true do %>
		    <i class="fas fa-times-circle text-danger"></i>
		<% end %>
    </td>
</tr>
