

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<br><br><br>
<div class="main_menu_bis">
 <nav class="navbar navbar-expand-md navbar-light"  id="navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->

          <a class="navbar-brand logo_h"><%= image_tag 'drapeau-breton.png', class: "logo" %></a>

            <div class="navbar-collapse offset" >
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "Home", items_path, class: "nav-link nav-item active" %></li>
              <% if !user_signed_in? %>
                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">S'inscrire / Se connecter</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to "Se connecter", new_user_session_path, class: "nav-link" %></li>
                  </ul>
              <% else %>
                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ma session</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><%= link_to "Mon profil",  profile_path(current_user.id), class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to "Mes commandes",  profile_orders_path(current_user.id), class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
                  </ul>
                </li>
              <% end %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li class="nav-item"><%= link_to raw('<i class="fas fa-shopping-cart"></i>'), cart_path(current_user.cart), class:"cart" %></li>
              <% else %>
                <li class="nav-item"><%= link_to raw('<i class="fas fa-shopping-cart"></i>'), new_user_session_path, class:"cart" %></li>
              <% end %>
              </ul>
            </div>      

    </div>
  </nav>
</div>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

</body>
</html>
    


 